body {
  background-color: #f1592a;
  color: #fff;
}

.content {
  max-width: 40em;
  margin: 5em auto 0 auto;
}

.media .media-img {
  margin-right: 3em;
}

.media-img img {
  max-width: 6em;
}

.pure-checkbox {
  margin-left: 2em;
  display: block;
  font-weight: bold;
}

.pure-checkbox input {
  float: left;
  margin-left: -2em
}

.proceed-back {
  margin-top: 5em;
}

.proceed-back > div {
  line-height: 3em;
}

.btn-proceed {
  color: white;
  font-weight: bold;
}

.btn-back {
  border-radius: 0;
  background: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid #fff;
  padding: .7em 1.1em;
}

.btn-back:hover {
  background: #ec4613;
}
